@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face{
    /* font-family: main;
    src:url(../font/Type\ Machine.ttf)
   */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: main; */
}
a{
    color: inherit;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
#wrap{
    width: 100%;
}
.inner{
    width: 1280px;
    margin: 0 auto;
}
header{font-family: 'Sorts Mill Goudy', serif;}
#sect02 .title{font-family: 'Sorts Mill Goudy', serif;}
#sect02 div.products .price{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 25px;
}
#sect02 div.products h3{font-family: 'Noto Sans KR', sans-serif;}
#sect02 div.products span{font-family: 'Noto Sans KR', sans-serif;}
#sect02 a{font-family: 'Sorts Mill Goudy', serif;}
#sect03 .title {font-family: 'Sorts Mill Goudy', serif;}
#sect03 div.products h3{font-family: 'Noto Sans KR', sans-serif;}
#sect03 div.products span{font-family: 'Noto Sans KR', sans-serif;}
#sect03 div.products .price{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 25px;
}
#footer_wrap .footer01{font-family: 'Noto Sans KR', sans-serif;}
#footer_wrap .footer02{font-family: 'Noto Sans KR', sans-serif;}
#footer_wrap .footer03{font-family: 'Noto Sans KR', sans-serif;}
#footer_wrap h3{font-family: 'Sorts Mill Goudy', serif;}
#sect03 .price p:nth-child(2) span{
    font-family: 'Sorts Mill Goudy', serif;
}

/* header */
header{
    width: 100%;
}
header h1{
    text-align: center;
}
header div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}
header div h1{
    width: 150px;
}
header div h1 img{
    width: 100%;
}
header div a{
    margin: 10px;
}
header div span{
    margin: 10px;
}
header nav ul{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
header nav ul a{
    width: 150px;
    text-align: center;
    display: block;
}
/* main */
/* sect01 */
#sect01{
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}
.slide_wrap{
    width:300%;
    display: flex;
    animation: mainslide 10s;
}
@keyframes mainslide{
    0%{transform: translateX(0%);}
    30%{transform: translateX(0%);}
    33%{transform: translateX(-33.3333%);}
    63%{transform: translateX(-33.3333%);}
    66%{transform: translateX(-66.6666%);}
    96%{transform: translateX(-66.6666%);}
    100%{transform: translateX(0%);}
}
.slide_wrap article{
    width: calc(100% / 3);
}
.slide_wrap img{
    width: 100%;
    display: block;
}
/* sect02 */
#sect02{
    width: 100%;
}
#sect02 .title{
    text-align: center;
    margin-bottom: 20px;
}
#sect02 .title h2:nth-child(1){
    border-bottom: 3px solid #222;
    display: inline-block;
}
#sect02 .title h3{
    letter-spacing: -2px;
    color: #999;
    font-weight: normal;
    margin-bottom: 50px;
}
#sect02 .goods{
    margin-bottom: 25px;
}
#sect02 div.products{
    display: flex;
    justify-content: center;
    text-align: center;
}
#sect02 div.products img{
    margin: 0px 5px;
    margin-bottom: 10px;
}
#sect02 .products img:hover{
    border: 1px solid red;
}
#sect02 div.products h3{
    margin-bottom: 5px;
}
#sect02 div.products span{
    margin-bottom: 5px;
}
#sect02 .price p:nth-child(1){
    text-decoration: line-through;
    color: #555;
}
#sect02 .price p:nth-child(2){
    font-size: 27px;
    font-weight: bold;
}
#sect02 .price p:nth-child(3){
    font-size: 27px;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
}
#sect02 .more{
    text-align: center;
    margin-bottom: 70px;
}
.more a{
    border-bottom: 2px solid #222;
    display: inline-block;
    font-size: 20px;
}
/* sect03 */
#sect03 .title{
    text-align: center;
    margin-bottom: 20px;
}
#sect03 .title h2:nth-child(1){
    border-bottom: 3px solid #222;
    display: inline-block;
}
#sect03 .title h2:nth-child(2){
    margin-bottom: 30px;
}
#sect03 .title p{
    font-size: 30px;
    margin-bottom: 50px;
}
#sect03 .goods{
    margin-bottom: 30px;
}
#sect03 div.products{
    justify-content: center;
    text-align: center;
}
#sect03 div.products img{
    margin-bottom: 50px;
}
#sect03 div.products h3{
    margin-bottom: 5px;
}
#sect03 .price{
    margin-bottom: 50px;
}
#sect03 .price p:nth-child(1){
    text-decoration: line-through;
    color: #555;
}
#sect03 .price p:nth-child(2){
    font-size: 27px;
    font-weight: bold;
}
#sect03 .price p:nth-child(2) span{
    color: red;
}
#sect03 .price a:nth-child(3){
    font-size: 20px;
    font-weight: normal;
    color: #555;
}
/* sect04 */
#sect04 img{
    width: 100%;
    display: block;
}
/* sect05 */
#sect05 img{
    width: 100%;
    display: block;
}
hr{
    border:3px solid #555;
    opacity: 0.1;
}
/* footer */
#footer_wrap{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px;
}
.footer01 p:nth-child(8){
    margin-bottom: 30px;
}
.footer01 p:nth-child(9){
    margin-bottom: 30px;
    font-size: 20px;
}
.footer01 span{
    text-decoration: line-through;
}
.footer02{
    margin-top: 230px;
}
.footer02 p:nth-child(2){
    margin-bottom: 20px;
}
.footer02 span{
    font-size: 25px;
}
.footer02 p:nth-child(5){
    margin-bottom: 30px;
}
.footer02 p:nth-child(8){
    margin-bottom: 30px;
}
.footer03{
    margin-top: 270px;
}
.footer03 p:nth-child(3){
    margin-bottom: 30px;
}